/* Styles for the tooltips shown in the widget view. */
.tooltip {
    /* tooltips are _always_ dark.  */
    background: #333;
    color: white;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px black;
}

.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

.arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #333;
}

.tooltip[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
    right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
    left: -4px;
}
