<style>
body {
    font-size: ${fontSize}px;
}
div {
    margin: 5px;
    word-wrap:break-word;
}
.name {
	${nameStyles}
}
.type {
	${typeStyles}
}
.param {
	${paramStyles}
}
.text {
	${textStyles}
}
</style>
<div><b>${signature}</b></div>
<div style="margin-left: 15px">${description}</div>
<div>${activeParam}</div>
<div><a href="${link}">${index}</a></div>
