<code>ABORT</code> — Abort the program

<h3>Description</h3>
<code>ABORT</code> causes immediate termination of the program.  On operating
systems that support a core dump, <code>ABORT</code> will produce a core dump. 
It will also print a backtrace, unless <code>-fno-backtrace</code> is given.

     <br>

<h3>Syntax</h3>
<code>CALL ABORT</code>

     <br>

<h3>Return value</h3>
Does not return.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_abort
<br>  integer :: i = 1, j = 2
<br>  if (i /= j) call abort
<br>end program test_abort</code>
     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Subroutine

     <br>

<h3>See also</h3>
<a href="EXIT.html#EXIT">EXIT</a>, <a href="KILL.html#KILL">KILL</a>, <a href="BACKTRACE.html#BACKTRACE">BACKTRACE</a>

   