<code>ACHAR</code> — Character in <acronym>ASCII</acronym> collating sequence

<h3>Description</h3>
<code>ACHAR(I)</code> returns the character located at position <code>I</code>
in the <acronym>ASCII</acronym> collating sequence.

     <br>

<h3>Syntax</h3>
<code>RESULT = ACHAR(I [, KIND])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>I</var>    </td><td valign="top" width="70%">The type shall be <code>INTEGER</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>KIND</var> </td><td valign="top" width="70%">(Optional) An <code>INTEGER</code> initialization
expression indicating the kind parameter of the result.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>CHARACTER</code> with a length of one. 
If the <var>KIND</var> argument is present, the return value is of the
specified kind and of the default kind otherwise.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_achar
<br>  character c
<br>  c = achar(32)
<br>end program test_achar</code>
     <br>

<h3>Notes</h3>
See <a href="ICHAR.html#ICHAR">ICHAR</a> for a discussion of converting between numerical values
and formatted string representations.

     <br>

<h3>Standard</h3>
Fortran 77 and later, with <var>KIND</var> argument Fortran 2003 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="CHAR.html#CHAR">CHAR</a>, <a href="IACHAR.html#IACHAR">IACHAR</a>, <a href="ICHAR.html#ICHAR">ICHAR</a>

   