<code>ACOS</code> — Arccosine function

<h3>Description</h3>
<code>ACOS(X)</code> computes the arccosine of <var>X</var> (inverse of <code>COS(X)</code>).

     <br>

<h3>Syntax</h3>
<code>RESULT = ACOS(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">The type shall either be <code>REAL</code> with a magnitude that is
less than or equal to one - or the type shall be <code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of the same type and kind as <var>X</var>. 
The real part of the result is in radians and lies in the range
0 \leq \Re \acos(x) \leq \pi.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_acos
<br>  real(8) :: x = 0.866_8
<br>  x = acos(x)
<br>end program test_acos</code>
     <br>

<h3>Specific names</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="20%">Name            </td><td valign="top" width="20%">Argument         </td><td valign="top" width="20%">Return type     </td><td valign="top" width="25%">Standard
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>ACOS(X)</code>  </td><td valign="top" width="20%"><code>REAL(4) X</code> </td><td valign="top" width="20%"><code>REAL(4)</code>  </td><td valign="top" width="25%">Fortran 77 and later
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>DACOS(X)</code> </td><td valign="top" width="20%"><code>REAL(8) X</code> </td><td valign="top" width="20%"><code>REAL(8)</code>  </td><td valign="top" width="25%">Fortran 77 and later
     <br></td></tr></tbody></table>

     <br></p>

<h3>Standard</h3>
Fortran 77 and later, for a complex argument Fortran 2008 or later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
Inverse function: <a href="COS.html#COS">COS</a>

   