<code>ALL</code> — All values in <var>MASK</var> along <var>DIM</var> are true

<h3>Description</h3>
<code>ALL(MASK [, DIM])</code> determines if all the values are true in <var>MASK</var>
in the array along dimension <var>DIM</var>.

     <br>

<h3>Syntax</h3>
<code>RESULT = ALL(MASK [, DIM])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>MASK</var> </td><td valign="top" width="70%">The type of the argument shall be <code>LOGICAL</code> and
it shall not be scalar. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>DIM</var>  </td><td valign="top" width="70%">(Optional) <var>DIM</var> shall be a scalar integer
with a value that lies between one and the rank of <var>MASK</var>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
<code>ALL(MASK)</code> returns a scalar value of type <code>LOGICAL</code> where
the kind type parameter is the same as the kind type parameter of
<var>MASK</var>.  If <var>DIM</var> is present, then <code>ALL(MASK, DIM)</code> returns
an array with the rank of <var>MASK</var> minus 1.  The shape is determined from
the shape of <var>MASK</var> where the <var>DIM</var> dimension is elided.

          <dl>
<dt>(A)</dt><dd><code>ALL(MASK)</code> is true if all elements of <var>MASK</var> are true. 
It also is true if <var>MASK</var> has zero size; otherwise, it is false. 
<br></dd><dt>(B)</dt><dd>If the rank of <var>MASK</var> is one, then <code>ALL(MASK,DIM)</code> is equivalent
to <code>ALL(MASK)</code>.  If the rank is greater than one, then <code>ALL(MASK,DIM)</code>
is determined by applying <code>ALL</code> to the array sections. 
</dd></dl>

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_all
<br>  logical l
<br>  l = all((/.true., .true., .true./))
<br>  print *, l
<br>  call section
<br>  contains
<br>    subroutine section
<br>      integer a(2,3), b(2,3)
<br>      a = 1
<br>      b = 1
<br>      b(2,2) = 2
<br>      print *, all(a .eq. b, 1)
<br>      print *, all(a .eq. b, 2)
<br>    end subroutine section
<br>end program test_all</code>
     

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Transformational function

     <br>