<code>ATOMIC_CAS</code> — Atomic compare and swap

<h3>Description</h3>
<code>ATOMIC_CAS</code> compares the variable <var>ATOM</var> with the value of
<var>COMPARE</var>; if the value is the same, <var>ATOM</var> is set to the value
of <var>NEW</var>. Additionally, <var>OLD</var> is set to the value of <var>ATOM</var>
that was used for the comparison.  When <var>STAT</var> is present and the invokation
was successful, it is assigned the value 0. If it is present and the invokation
has failed, it is assigned a positive value; in particular, for a coindexed
<var>ATOM</var>, if the remote image has stopped, it is assigned the value of
<code>ISO_FORTRAN_ENV</code>'s <code>STAT_STOPPED_IMAGE</code> and if the remote image has
failed, the value <code>STAT_FAILED_IMAGE</code>.

     <br>

<h3>Syntax</h3>
<code>CALL ATOMIC_CAS (ATOM, OLD, COMPARE, NEW [, STAT])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>ATOM</var>    </td><td valign="top" width="70%">Scalar coarray or coindexed variable of either integer
type with <code>ATOMIC_INT_KIND</code> kind or logical type with
<code>ATOMIC_LOGICAL_KIND</code> kind. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>OLD</var>     </td><td valign="top" width="70%">Scalar of the same type and kind as <var>ATOM</var>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>COMPARE</var> </td><td valign="top" width="70%">Scalar variable of the same type and kind as
<var>ATOM</var>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>NEW</var>     </td><td valign="top" width="70%">Scalar variable of the same type as <var>ATOM</var>. If kind
is different, the value is converted to the kind of <var>ATOM</var>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>STAT</var>    </td><td valign="top" width="70%">(optional) Scalar default-kind integer variable.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program atomic
<br>  use iso_fortran_env
<br>  logical(atomic_logical_kind) :: atom[*], prev
<br>  call atomic_cas (atom[1], prev, .false., .true.))
<br>end program atomic</code>
     <br>

<h3>Standard</h3>
TS 18508 or later

     <br>

<h3>Class</h3>
Atomic subroutine

     <br>

<h3>See also</h3>
<a href="ATOMIC_005fDEFINE.html#ATOMIC_005fDEFINE">ATOMIC_DEFINE</a>, <a href="ATOMIC_005fREF.html#ATOMIC_005fREF">ATOMIC_REF</a>, <a href="ISO_005fFORTRAN_005fENV.html#ISO_005fFORTRAN_005fENV">ISO_FORTRAN_ENV</a>
