<code>BACKTRACE</code> — Show a backtrace

<h3>Description</h3>
<code>BACKTRACE</code> shows a backtrace at an arbitrary place in user code. Program
execution continues normally afterwards. The backtrace information is printed
to the unit corresponding to <code>ERROR_UNIT</code> in <code>ISO_FORTRAN_ENV</code>.

     <br>

<h3>Syntax</h3>
<code>CALL BACKTRACE</code>

     <br>

<h3>Arguments</h3>
None

     <br>

<h3>Standard</h3>
GNU Extension

     <br>

<h3>Class</h3>
Subroutine

     <br>

<h3>See also</h3>
<a href="ABORT.html#ABORT">ABORT</a>
