<code>BLT</code> — Bitwise less than

<h3>Description</h3>
Determines whether an integral is a bitwise less than another.

     <br>

<h3>Syntax</h3>
<code>RESULT = BLT(I, J)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>I</var> </td><td valign="top" width="70%">Shall be of <code>INTEGER</code> type. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>J</var> </td><td valign="top" width="70%">Shall be of <code>INTEGER</code> type, and of the same kind
as <var>I</var>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>LOGICAL</code> and of the default kind.

     <br>

<h3>Standard</h3>
Fortran 2008 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="BGE.html#BGE">BGE</a>, <a href="BGT.html#BGT">BGT</a>, <a href="BLE.html#BLE">BLE</a>
