<code>C_FUNLOC</code> — Obtain the C address of a procedure

<h3>Description</h3>
<code>C_FUNLOC(x)</code> determines the C address of the argument.

     <br>

<h3>Syntax</h3>
<code>RESULT = C_FUNLOC(x)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>x</var> </td><td valign="top" width="70%">Interoperable function or pointer to such function.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>C_FUNPTR</code> and contains the C address
of the argument.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>module x
<br>  use iso_c_binding
<br>  implicit none
<br>contains
<br>  subroutine sub(a) bind(c)
<br>    real(c_float) :: a
<br>    a = sqrt(a)+5.0
<br>  end subroutine sub
<br>end module x
<br>program main
<br>  use iso_c_binding
<br>  use x
<br>  implicit none
<br>  interface
<br>    subroutine my_routine(p) bind(c,name='myC_func')
<br>      import :: c_funptr
<br>      type(c_funptr), intent(in) :: p
<br>    end subroutine
<br>  end interface
<br>  call my_routine(c_funloc(sub))
<br>end program main</code>
     <br>

<h3>Standard</h3>
Fortran 2003 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>

<h3>See also</h3>
<a href="C_005fASSOCIATED.html#C_005fASSOCIATED">C_ASSOCIATED</a>, <a href="C_005fLOC.html#C_005fLOC">C_LOC</a>, <a href="C_005fF_005fPOINTER.html#C_005fF_005fPOINTER">C_F_POINTER</a>, <a href="C_005fF_005fPROCPOINTER.html#C_005fF_005fPROCPOINTER">C_F_PROCPOINTER</a>
