<code>CO_SUM</code> — Sum of values on the current set of images

<h3>Description</h3>
<code>CO_SUM</code> sums up the values of each element of <var>A</var> on all
images of the current team.  If <var>RESULT_IMAGE</var> is present, the summed-up
values are returned in <var>A</var> on the specified image only and the value
of <var>A</var> on the other images become undefined.  If <var>RESULT_IMAGE</var> is
not present, the value is returned on all images.  If the execution was
successful and <var>STAT</var> is present, it is assigned the value zero.  If the
execution failed, <var>STAT</var> gets assigned a nonzero value and, if present,
<var>ERRMSG</var> gets assigned a value describing the occurred error.

     <br>

<h3>Syntax</h3>
<code>CALL CO_MIN(A [, RESULT_IMAGE, STAT, ERRMSG])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>A</var>            </td><td valign="top" width="70%">shall be an integer, real or complex variable,
which has the same type and type parameters on all images of the team. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>RESULT_IMAGE</var> </td><td valign="top" width="70%">(optional) a scalar integer expression; if
present, it shall have the same the same value on all images and refer to an
image of the current team. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>STAT</var>         </td><td valign="top" width="70%">(optional) a scalar integer variable
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>ERRMSG</var>       </td><td valign="top" width="70%">(optional) a scalar character variable
     <br></td></tr></tbody></table>

     <br></p>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test
<br>  integer :: val
<br>  val = this_image ()
<br>  call co_sum (val, result_image=1)
<br>  if (this_image() == 1) then
<br>    write(*,*) "The sum is ", val ! prints (n**2 + n)/2, with n = num_images()
<br>  end if
<br>end program test</code>
     <br>

<h3>Standard</h3>
Technical Specification (TS) 18508 or later

     <br>

<h3>Class</h3>
Collective subroutine

     <br>

<h3>See also</h3>
<a href="CO_005fMAX.html#CO_005fMAX">CO_MAX</a>, <a href="CO_005fMIN.html#CO_005fMIN">CO_MIN</a>, <a href="CO_005fREDUCE.html#CO_005fREDUCE">CO_REDUCE</a>, <a href="CO_005fBROADCAST.html#CO_005fBROADCAST">CO_BROADCAST</a>
