<code>COMPILER_VERSION</code> — Compiler version string

<h3>Description</h3>
<code>COMPILER_VERSION</code> returns a string with the name and the
version of the compiler.

     <br>

<h3>Syntax</h3>
<code>STR = COMPILER_VERSION()</code>

     <br>

<h3>Arguments</h3>
None.

     <br>

<h3>Return value</h3>
The return value is a default-kind string with system-dependent length. 
It contains the name of the compiler and its version number.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>use iso_fortran_env
<br>print '(4a)', 'This file was compiled by ', &amp;
<br>              compiler_version(), ' using the options ', &amp;
<br>              compiler_options()
<br>end</code>
     <br>

<h3>Standard</h3>
Fortran 2008

     <br>

<h3>Class</h3>
Inquiry function of the module <code>ISO_FORTRAN_ENV</code>

     <br>

<h3>See also</h3>
<a href="COMPILER_005fOPTIONS.html#COMPILER_005fOPTIONS">COMPILER_OPTIONS</a>, <a href="ISO_005fFORTRAN_005fENV.html#ISO_005fFORTRAN_005fENV">ISO_FORTRAN_ENV</a>
