<code>COS</code> — Cosine function

<h3>Description</h3>
<code>COS(X)</code> computes the cosine of <var>X</var>.

     <br>

<h3>Syntax</h3>
<code>RESULT = COS(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">The type shall be <code>REAL</code> or
<code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of the same type and kind as <var>X</var>. The real part
of the result is in radians. If <var>X</var> is of the type <code>REAL</code>,
the return value lies in the range  -1 \leq \cos (x) \leq 1.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_cos
<br>  real :: x = 0.0
<br>  x = cos(x)
<br>end program test_cos</code>
     <br>

<h3>Specific names</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="20%">Name            </td><td valign="top" width="20%">Argument            </td><td valign="top" width="20%">Return type       </td><td valign="top" width="25%">Standard
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>COS(X)</code>   </td><td valign="top" width="20%"><code>REAL(4) X</code>    </td><td valign="top" width="20%"><code>REAL(4)</code>    </td><td valign="top" width="25%">Fortran 77 and later
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>DCOS(X)</code>  </td><td valign="top" width="20%"><code>REAL(8) X</code>    </td><td valign="top" width="20%"><code>REAL(8)</code>    </td><td valign="top" width="25%">Fortran 77 and later
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>CCOS(X)</code>  </td><td valign="top" width="20%"><code>COMPLEX(4) X</code> </td><td valign="top" width="20%"><code>COMPLEX(4)</code> </td><td valign="top" width="25%">Fortran 77 and later
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>ZCOS(X)</code>  </td><td valign="top" width="20%"><code>COMPLEX(8) X</code> </td><td valign="top" width="20%"><code>COMPLEX(8)</code> </td><td valign="top" width="25%">GNU extension
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>CDCOS(X)</code> </td><td valign="top" width="20%"><code>COMPLEX(8) X</code> </td><td valign="top" width="20%"><code>COMPLEX(8)</code> </td><td valign="top" width="25%">GNU extension
     <br></td></tr></tbody></table>

     <br></p>

<h3>Standard</h3>
Fortran 77 and later, has overloads that are GNU extensions

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
Inverse function: <a href="ACOS.html#ACOS">ACOS</a>

   