<code>DBLE</code> — Double conversion function

<h3>Description</h3>
<code>DBLE(A)</code> Converts <var>A</var> to double precision real type.

     <br>

<h3>Syntax</h3>
<code>RESULT = DBLE(A)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>A</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER</code>, <code>REAL</code>,
or <code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type double precision real.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_dble
<br>    real    :: x = 2.18
<br>    integer :: i = 5
<br>    complex :: z = (2.3,1.14)
<br>    print *, dble(x), dble(i), dble(z)
<br>end program test_dble</code>
     <br>

<h3>Standard</h3>
Fortran 77 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="REAL.html#REAL">REAL</a>
