<code>DTIME</code> — Execution time subroutine (or function)

<h3>Description</h3>
<code>DTIME(VALUES, TIME)</code> initially returns the number of seconds of runtime
since the start of the process's execution in <var>TIME</var>.  <var>VALUES</var>
returns the user and system components of this time in <code>VALUES(1)</code> and
<code>VALUES(2)</code> respectively. <var>TIME</var> is equal to <code>VALUES(1) +
VALUES(2)</code>.

     <p>Subsequent invocations of <code>DTIME</code> return values accumulated since the
previous invocation.

     </p><p>On some systems, the underlying timings are represented using types with
sufficiently small limits that overflows (wrap around) are possible, such as
32-bit types. Therefore, the values returned by this intrinsic might be, or
become, negative, or numerically less than previous values, during a single
run of the compiled program.

     </p><p>Please note, that this implementation is thread safe if used within OpenMP
directives, i.e., its state will be consistent while called from multiple
threads. However, if <code>DTIME</code> is called from multiple threads, the result
is still the time since the last invocation. This may not give the intended
results. If possible, use <code>CPU_TIME</code> instead.

     </p><p>This intrinsic is provided in both subroutine and function forms; however,
only one form can be used in any given program unit.

     </p><p><var>VALUES</var> and <var>TIME</var> are <code>INTENT(OUT)</code> and provide the following:

     </p><p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"></td><td valign="top" width="30%"><code>VALUES(1)</code>: </td><td valign="top" width="40%">User time in seconds. 
<br></td></tr><tr align="left"><td valign="top" width="15%"></td><td valign="top" width="30%"><code>VALUES(2)</code>: </td><td valign="top" width="40%">System time in seconds. 
<br></td></tr><tr align="left"><td valign="top" width="15%"></td><td valign="top" width="30%"><code>TIME</code>: </td><td valign="top" width="40%">Run time since start in seconds.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Syntax</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="80%"><code>CALL DTIME(VALUES, TIME)</code>. 
<br></td></tr><tr align="left"><td valign="top" width="80%"><code>TIME = DTIME(VALUES)</code>, (not recommended).
     <br></td></tr></tbody></table>

     <br></p>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>VALUES</var></td><td valign="top" width="70%">The type shall be <code>REAL(4), DIMENSION(2)</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>TIME</var></td><td valign="top" width="70%">The type shall be <code>REAL(4)</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
Elapsed time in seconds since the last invocation or since the start of program
execution if not called before.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_dtime
<br>    integer(8) :: i, j
<br>    real, dimension(2) :: tarray
<br>    real :: result
<br>    call dtime(tarray, result)
<br>    print *, result
<br>    print *, tarray(1)
<br>    print *, tarray(2)
<br>    do i=1,100000000    ! Just a delay
<br>        j = i * i - i
<br>    end do
<br>    call dtime(tarray, result)
<br>    print *, result
<br>    print *, tarray(1)
<br>    print *, tarray(2)
<br>end program test_dtime</code>
     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Subroutine, function

     <br>

<h3>See also</h3>
<a href="CPU_005fTIME.html#CPU_005fTIME">CPU_TIME</a>

   