<code>ERFC</code> — Error function

<h3>Description</h3>
<code>ERFC(X)</code> computes the complementary error function of <var>X</var>.

     <br>

<h3>Syntax</h3>
<code>RESULT = ERFC(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">The type shall be <code>REAL</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>REAL</code> and of the same kind as <var>X</var>. 
It lies in the range  0 \leq erfc (x) \leq 2 .

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_erfc
<br>  real(8) :: x = 0.17_8
<br>  x = erfc(x)
<br>end program test_erfc</code>
     <br>

<h3>Specific names</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="20%">Name            </td><td valign="top" width="20%">Argument          </td><td valign="top" width="20%">Return type       </td><td valign="top" width="25%">Standard
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>DERFC(X)</code> </td><td valign="top" width="20%"><code>REAL(8) X</code>  </td><td valign="top" width="20%"><code>REAL(8)</code>    </td><td valign="top" width="25%">GNU extension
     <br></td></tr></tbody></table>
</p>

<h3>Standard</h3>
Fortran 2008 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>