<code>EXP</code> — Exponential function

<h3>Description</h3>
<code>EXP(X)</code> computes the base e exponential of <var>X</var>.

     <br>

<h3>Syntax</h3>
<code>RESULT = EXP(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">The type shall be <code>REAL</code> or
<code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value has same type and kind as <var>X</var>.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_exp
<br>  real :: x = 1.0
<br>  x = exp(x)
<br>end program test_exp</code>
     <br>

<h3>Specific names</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="20%">Name            </td><td valign="top" width="20%">Argument             </td><td valign="top" width="20%">Return type         </td><td valign="top" width="25%">Standard
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>EXP(X)</code>   </td><td valign="top" width="20%"><code>REAL(4) X</code>     </td><td valign="top" width="20%"><code>REAL(4)</code>      </td><td valign="top" width="25%">Fortran 77 and later
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>DEXP(X)</code>  </td><td valign="top" width="20%"><code>REAL(8) X</code>     </td><td valign="top" width="20%"><code>REAL(8)</code>      </td><td valign="top" width="25%">Fortran 77 and later
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>CEXP(X)</code>  </td><td valign="top" width="20%"><code>COMPLEX(4) X</code>  </td><td valign="top" width="20%"><code>COMPLEX(4)</code>   </td><td valign="top" width="25%">Fortran 77 and later
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>ZEXP(X)</code>  </td><td valign="top" width="20%"><code>COMPLEX(8) X</code>  </td><td valign="top" width="20%"><code>COMPLEX(8)</code>   </td><td valign="top" width="25%">GNU extension
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>CDEXP(X)</code> </td><td valign="top" width="20%"><code>COMPLEX(8) X</code>  </td><td valign="top" width="20%"><code>COMPLEX(8)</code>   </td><td valign="top" width="25%">GNU extension
     <br></td></tr></tbody></table>
</p>

<h3>Standard</h3>
Fortran 77 and later, has overloads that are GNU extensions

     <br>

<h3>Class</h3>
Elemental function

     <br>