<code>EXTENDS_TYPE_OF</code> —  Query dynamic type for extension

<h3>Description</h3>
Query dynamic type for extension.

     <br>

<h3>Syntax</h3>
<code>RESULT = EXTENDS_TYPE_OF(A, MOLD)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>A</var> </td><td valign="top" width="70%">Shall be an object of extensible declared type or
unlimited polymorphic. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>MOLD</var> </td><td valign="top" width="70%">Shall be an object of extensible declared type or
unlimited polymorphic.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is a scalar of type default logical. It is true if and only if
the dynamic type of A is an extension type of the dynamic type of MOLD.

     <br>

<h3>Standard</h3>
Fortran 2003 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>

<h3>See also</h3>
<a href="SAME_005fTYPE_005fAS.html#SAME_005fTYPE_005fAS">SAME_TYPE_AS</a>
