<code>FLUSH</code> — Flush I/O unit(s)

<h3>Description</h3>
Flushes Fortran unit(s) currently open for output. Without the optional
argument, all units are flushed, otherwise just the unit specified.

     <br>

<h3>Syntax</h3>
<code>CALL FLUSH(UNIT)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>UNIT</var> </td><td valign="top" width="70%">(Optional) The type shall be <code>INTEGER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Notes</h3>
Beginning with the Fortran 2003 standard, there is a <code>FLUSH</code>
statement that should be preferred over the <code>FLUSH</code> intrinsic.

     <p>The <code>FLUSH</code> intrinsic and the Fortran 2003 <code>FLUSH</code> statement
have identical effect: they flush the runtime library's I/O buffer so
that the data becomes visible to other processes. This does not guarantee
that the data is committed to disk.

     </p><p>On POSIX systems, you can request that all data is transferred  to  the
storage device by calling the <code>fsync</code> function, with the POSIX file
descriptor of the I/O unit as argument (retrieved with GNU intrinsic
<code>FNUM</code>). The following example shows how:

     </p><pre class="smallexample">            ! Declare the interface for POSIX fsync function
            interface
              function fsync (fd) bind(c,name="fsync")
              use iso_c_binding, only: c_int
                integer(c_int), value :: fd
                integer(c_int) :: fsync
              end function fsync
            end interface
          
            ! Variable declaration
            integer :: ret
          
            ! Opening unit 10
            open (10,file="foo")
          
            ! ...
            ! Perform I/O on unit 10
            ! ...
          
            ! Flush and sync
            flush(10)
            ret = fsync(fnum(10))
          
            ! Handle possible error
            if (ret /= 0) stop "Error calling FSYNC"
</pre>
     

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Subroutine

     <br>