<code>GET_COMMAND_ARGUMENT</code> — Get command line arguments

<h3>Description</h3>
Retrieve the <var>NUMBER</var>-th argument that was passed on the
command line when the containing program was invoked.

     <br>

<h3>Syntax</h3>
<code>CALL GET_COMMAND_ARGUMENT(NUMBER [, VALUE, LENGTH, STATUS])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>NUMBER</var> </td><td valign="top" width="70%">Shall be a scalar of type <code>INTEGER</code> and of
default kind, <var>NUMBER</var> \geq 0
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>VALUE</var>  </td><td valign="top" width="70%">(Optional) Shall be a scalar of type <code>CHARACTER</code>
and of default kind. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>LENGTH</var> </td><td valign="top" width="70%">(Optional) Shall be a scalar of type <code>INTEGER</code>
and of default kind. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>STATUS</var> </td><td valign="top" width="70%">(Optional) Shall be a scalar of type <code>INTEGER</code>
and of default kind.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
After <code>GET_COMMAND_ARGUMENT</code> returns, the <var>VALUE</var> argument holds the
<var>NUMBER</var>-th command line argument. If <var>VALUE</var> can not hold the argument, it is
truncated to fit the length of <var>VALUE</var>. If there are less than <var>NUMBER</var>
arguments specified at the command line, <var>VALUE</var> will be filled with blanks. 
If <var>NUMBER</var> = 0, <var>VALUE</var> is set to the name of the program (on
systems that support this feature). The <var>LENGTH</var> argument contains the
length of the <var>NUMBER</var>-th command line argument. If the argument retrieval
fails, <var>STATUS</var> is a positive number; if <var>VALUE</var> contains a truncated
command line argument, <var>STATUS</var> is -1; and otherwise the <var>STATUS</var> is
zero.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>PROGRAM test_get_command_argument
<br>  INTEGER :: i
<br>  CHARACTER(len=32) :: arg
<br>
<br>  i = 0
<br>  DO
<br>    CALL get_command_argument(i, arg)
<br>    IF (LEN_TRIM(arg) == 0) EXIT
<br>
<br>    WRITE (*,*) TRIM(arg)
<br>    i = i+1
<br>  END DO
<br>END PROGRAM</code>
     <br>

<h3>Standard</h3>
Fortran 2003 and later

     <br>

<h3>Class</h3>
Subroutine

     <br>

<h3>See also</h3>
<a href="GET_005fCOMMAND.html#GET_005fCOMMAND">GET_COMMAND</a>, <a href="COMMAND_005fARGUMENT_005fCOUNT.html#COMMAND_005fARGUMENT_005fCOUNT">COMMAND_ARGUMENT_COUNT</a>
