<code>GETARG</code> — Get command line arguments

<h3>Description</h3>
Retrieve the <var>POS</var>-th argument that was passed on the
command line when the containing program was invoked.

     <p>This intrinsic routine is provided for backwards compatibility with
GNU Fortran 77.  In new code, programmers should consider the use of
the <a href="GET_005fCOMMAND_005fARGUMENT.html#GET_005fCOMMAND_005fARGUMENT">GET_COMMAND_ARGUMENT</a> intrinsic defined by the Fortran 2003
standard.

     <br></p>

<h3>Syntax</h3>
<code>CALL GETARG(POS, VALUE)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>POS</var>   </td><td valign="top" width="70%">Shall be of type <code>INTEGER</code> and not wider than
the default integer kind; <var>POS</var> \geq 0
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>VALUE</var> </td><td valign="top" width="70%">Shall be of type <code>CHARACTER</code> and of default
kind. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>VALUE</var> </td><td valign="top" width="70%">Shall be of type <code>CHARACTER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
After <code>GETARG</code> returns, the <var>VALUE</var> argument holds the
<var>POS</var>th command line argument. If <var>VALUE</var> can not hold the
argument, it is truncated to fit the length of <var>VALUE</var>. If there are
less than <var>POS</var> arguments specified at the command line, <var>VALUE</var>
will be filled with blanks. If <var>POS</var> = 0, <var>VALUE</var> is set
to the name of the program (on systems that support this feature).

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>PROGRAM test_getarg
<br>  INTEGER :: i
<br>  CHARACTER(len=32) :: arg
<br>
<br>  DO i = 1, iargc()
<br>    CALL getarg(i, arg)
<br>    WRITE (*,*) arg
<br>  END DO
<br>END PROGRAM</code>
     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Subroutine

     <br>

<h3>See also</h3>
GNU Fortran 77 compatibility function: <a href="IARGC.html#IARGC">IARGC</a>

     <p>Fortran 2003 functions and subroutines: <a href="GET_005fCOMMAND.html#GET_005fCOMMAND">GET_COMMAND</a>,
<a href="GET_005fCOMMAND_005fARGUMENT.html#GET_005fCOMMAND_005fARGUMENT">GET_COMMAND_ARGUMENT</a>, <a href="COMMAND_005fARGUMENT_005fCOUNT.html#COMMAND_005fARGUMENT_005fCOUNT">COMMAND_ARGUMENT_COUNT</a>
</p>