<code>GETENV</code> — Get an environmental variable

<h3>Description</h3>
Get the <var>VALUE</var> of the environmental variable <var>NAME</var>.

     <p>This intrinsic routine is provided for backwards compatibility with
GNU Fortran 77.  In new code, programmers should consider the use of
the <a href="GET_005fENVIRONMENT_005fVARIABLE.html#GET_005fENVIRONMENT_005fVARIABLE">GET_ENVIRONMENT_VARIABLE</a> intrinsic defined by the Fortran
2003 standard.

     </p><p>Note that <code>GETENV</code> need not be thread-safe. It is the
responsibility of the user to ensure that the environment is not being
updated concurrently with a call to the <code>GETENV</code> intrinsic.

     <br></p>

<h3>Syntax</h3>
<code>CALL GETENV(NAME, VALUE)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>NAME</var>  </td><td valign="top" width="70%">Shall be of type <code>CHARACTER</code> and of default kind. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>VALUE</var> </td><td valign="top" width="70%">Shall be of type <code>CHARACTER</code> and of default kind.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
Stores the value of <var>NAME</var> in <var>VALUE</var>. If <var>VALUE</var> is
not large enough to hold the data, it is truncated. If <var>NAME</var>
is not set, <var>VALUE</var> will be filled with blanks.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>PROGRAM test_getenv
<br>  CHARACTER(len=255) :: homedir
<br>  CALL getenv("HOME", homedir)
<br>  WRITE (*,*) TRIM(homedir)
<br>END PROGRAM</code>
     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Subroutine

     <br>

<h3>See also</h3>
<a href="GET_005fENVIRONMENT_005fVARIABLE.html#GET_005fENVIRONMENT_005fVARIABLE">GET_ENVIRONMENT_VARIABLE</a>
