<code>GETPID</code> — Process ID function

<h3>Description</h3>
Returns the numerical process identifier of the current process.

     <br>

<h3>Syntax</h3>
<code>RESULT = GETPID()</code>

     <br>

<h3>Return value</h3>
The return value of <code>GETPID</code> is an <code>INTEGER</code> of the default
kind.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program info
<br>  print *, "The current process ID is ", getpid()
<br>  print *, "Your numerical user ID is ", getuid()
<br>  print *, "Your numerical group ID is ", getgid()
<br>end program info</code>
     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Function

     <br>

<h3>See also</h3>
<a href="GETGID.html#GETGID">GETGID</a>, <a href="GETUID.html#GETUID">GETUID</a>
