<code>GETUID</code> — User ID function

<h3>Description</h3>
Returns the numerical user ID of the current process.

     <br>

<h3>Syntax</h3>
<code>RESULT = GETUID()</code>

     <br>

<h3>Return value</h3>
The return value of <code>GETUID</code> is an <code>INTEGER</code> of the default
kind.

     <br>

<h3>Example</h3>
See <code>GETPID</code> for an example.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Function

     <br>

<h3>See also</h3>
<a href="GETPID.html#GETPID">GETPID</a>, <a href="GETLOG.html#GETLOG">GETLOG</a>
