<code>HOSTNM</code> — Get system host name

<h3>Description</h3>
Retrieves the host name of the system on which the program is running.

     <p>This intrinsic is provided in both subroutine and function forms; however,
only one form can be used in any given program unit.

     <br></p>

<h3>Syntax</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="80%"><code>CALL HOSTNM(C [, STATUS])</code>
<br></td></tr><tr align="left"><td valign="top" width="80%"><code>STATUS = HOSTNM(NAME)</code>
     <br></td></tr></tbody></table>

     <br></p>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>C</var>    </td><td valign="top" width="70%">Shall of type <code>CHARACTER</code> and of default kind. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>STATUS</var>  </td><td valign="top" width="70%">(Optional) status flag of type <code>INTEGER</code>. 
Returns 0 on success, or a system specific error code otherwise.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
In either syntax, <var>NAME</var> is set to the current hostname if it can
be obtained, or to a blank string otherwise.

   

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Subroutine, function

     <br>