<code>HUGE</code> — Largest number of a kind

<h3>Description</h3>
<code>HUGE(X)</code> returns the largest number that is not an infinity in
the model of the type of <code>X</code>.

     <br>

<h3>Syntax</h3>
<code>RESULT = HUGE(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">Shall be of type <code>REAL</code> or <code>INTEGER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of the same type and kind as <var>X</var>

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_huge_tiny
<br>  print *, huge(0), huge(0.0), huge(0.0d0)
<br>  print *, tiny(0.0), tiny(0.0d0)
<br>end program test_huge_tiny</code>
     

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>