<code>IACHAR</code> — Code in <acronym>ASCII</acronym> collating sequence

<h3>Description</h3>
<code>IACHAR(C)</code> returns the code for the <acronym>ASCII</acronym> character
in the first character position of <code>C</code>.

     <br>

<h3>Syntax</h3>
<code>RESULT = IACHAR(C [, KIND])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>C</var>    </td><td valign="top" width="70%">Shall be a scalar <code>CHARACTER</code>, with <code>INTENT(IN)</code>
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>KIND</var> </td><td valign="top" width="70%">(Optional) An <code>INTEGER</code> initialization
expression indicating the kind parameter of the result.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of kind <var>KIND</var>. If
<var>KIND</var> is absent, the return value is of default integer kind.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_iachar
<br>  integer i
<br>  i = iachar(' ')
<br>end program test_iachar</code>
     <br>

<h3>Notes</h3>
See <a href="ICHAR.html#ICHAR">ICHAR</a> for a discussion of converting between numerical values
and formatted string representations.

     <br>

<h3>Standard</h3>
Fortran 95 and later, with <var>KIND</var> argument Fortran 2003 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="ACHAR.html#ACHAR">ACHAR</a>, <a href="CHAR.html#CHAR">CHAR</a>, <a href="ICHAR.html#ICHAR">ICHAR</a>

   