<code>IARGC</code> — Get the number of command line arguments

<h3>Description</h3>
<code>IARGC</code> returns the number of arguments passed on the
command line when the containing program was invoked.

     <p>This intrinsic routine is provided for backwards compatibility with
GNU Fortran 77.  In new code, programmers should consider the use of
the <a href="COMMAND_005fARGUMENT_005fCOUNT.html#COMMAND_005fARGUMENT_005fCOUNT">COMMAND_ARGUMENT_COUNT</a> intrinsic defined by the Fortran 2003
standard.

     <br></p>

<h3>Syntax</h3>
<code>RESULT = IARGC()</code>

     <br>

<h3>Arguments</h3>
None.

     <br>

<h3>Return value</h3>
The number of command line arguments, type <code>INTEGER(4)</code>.

     <br>

<h3>Example</h3>
See <a href="GETARG.html#GETARG">GETARG</a>

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Function

     <br>

<h3>See also</h3>
GNU Fortran 77 compatibility subroutine: <a href="GETARG.html#GETARG">GETARG</a>

     <p>Fortran 2003 functions and subroutines: <a href="GET_005fCOMMAND.html#GET_005fCOMMAND">GET_COMMAND</a>,
<a href="GET_005fCOMMAND_005fARGUMENT.html#GET_005fCOMMAND_005fARGUMENT">GET_COMMAND_ARGUMENT</a>, <a href="COMMAND_005fARGUMENT_005fCOUNT.html#COMMAND_005fARGUMENT_005fCOUNT">COMMAND_ARGUMENT_COUNT</a>
</p>