<code>IBCLR</code> — Clear bit

<h3>Description</h3>
<code>IBCLR</code> returns the value of <var>I</var> with the bit at position
<var>POS</var> set to zero.

     <br>

<h3>Syntax</h3>
<code>RESULT = IBCLR(I, POS)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>I</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>POS</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of the same kind as
<var>I</var>.

     <br>

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="IBITS.html#IBITS">IBITS</a>, <a href="IBSET.html#IBSET">IBSET</a>, <a href="IAND.html#IAND">IAND</a>, <a href="IOR.html#IOR">IOR</a>, <a href="IEOR.html#IEOR">IEOR</a>, <a href="MVBITS.html#MVBITS">MVBITS</a>

   