<code>IERRNO</code> — Get the last system error number

<h3>Description</h3>
Returns the last system error number, as given by the C <code>errno</code>
variable.

     <br>

<h3>Syntax</h3>
<code>RESULT = IERRNO()</code>

     <br>

<h3>Arguments</h3>
None.

     <br>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of the default integer
kind.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Function

     <br>

<h3>See also</h3>
<a href="PERROR.html#PERROR">PERROR</a>
