<code>INDEX</code> — Position of a substring within a string

<h3>Description</h3>
Returns the position of the start of the first occurrence of string
<var>SUBSTRING</var> as a substring in <var>STRING</var>, counting from one.  If
<var>SUBSTRING</var> is not present in <var>STRING</var>, zero is returned.  If
the <var>BACK</var> argument is present and true, the return value is the
start of the last occurrence rather than the first.

     <br>

<h3>Syntax</h3>
<code>RESULT = INDEX(STRING, SUBSTRING [, BACK [, KIND]])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>STRING</var> </td><td valign="top" width="70%">Shall be a scalar <code>CHARACTER</code>, with
<code>INTENT(IN)</code>
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>SUBSTRING</var> </td><td valign="top" width="70%">Shall be a scalar <code>CHARACTER</code>, with
<code>INTENT(IN)</code>
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>BACK</var> </td><td valign="top" width="70%">(Optional) Shall be a scalar <code>LOGICAL</code>, with
<code>INTENT(IN)</code>
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>KIND</var> </td><td valign="top" width="70%">(Optional) An <code>INTEGER</code> initialization
expression indicating the kind parameter of the result.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of kind <var>KIND</var>. If
<var>KIND</var> is absent, the return value is of default integer kind.

     <br>

<h3>Specific names</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="20%">Name                            </td><td valign="top" width="20%">Argument           </td><td valign="top" width="20%">Return type       </td><td valign="top" width="25%">Standard
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>INDEX(STRING, SUBSTRING)</code> </td><td valign="top" width="20%"><code>CHARACTER</code>   </td><td valign="top" width="20%"><code>INTEGER(4)</code> </td><td valign="top" width="25%">Fortran 77 and later
     <br></td></tr></tbody></table>

     <br></p>

<h3>Standard</h3>
Fortran 77 and later, with <var>KIND</var> argument Fortran 2003 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="SCAN.html#SCAN">SCAN</a>, <a href="VERIFY.html#VERIFY">VERIFY</a>
