<code>INT2</code> — Convert to 16-bit integer type

<h3>Description</h3>
Convert to a <code>KIND=2</code> integer type. This is equivalent to the
standard <code>INT</code> intrinsic with an optional argument of
<code>KIND=2</code>, and is only included for backwards compatibility.

     <p>The <code>SHORT</code> intrinsic is equivalent to <code>INT2</code>.

     <br></p>

<h3>Syntax</h3>
<code>RESULT = INT2(A)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>A</var>    </td><td valign="top" width="70%">Shall be of type <code>INTEGER</code>,
<code>REAL</code>, or <code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is a <code>INTEGER(2)</code> variable.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="INT.html#INT">INT</a>, <a href="INT8.html#INT8">INT8</a>, <a href="LONG.html#LONG">LONG</a>
