<code>ISATTY</code> — Whether a unit is a terminal device.

<h3>Description</h3>
Determine whether a unit is connected to a terminal device.

     <br>

<h3>Syntax</h3>
<code>RESULT = ISATTY(UNIT)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>UNIT</var> </td><td valign="top" width="70%">Shall be a scalar <code>INTEGER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
Returns <code>.TRUE.</code> if the <var>UNIT</var> is connected to a terminal
device, <code>.FALSE.</code> otherwise.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>PROGRAM test_isatty
<br>  INTEGER(kind=1) :: unit
<br>  DO unit = 1, 10
<br>    write(*,*) isatty(unit=unit)
<br>  END DO
<br>END PROGRAM</code>
     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Function

     <br>

<h3>See also</h3>
<a href="TTYNAM.html#TTYNAM">TTYNAM</a>
