<code>ISHFT</code> — Shift bits

<h3>Description</h3>
<code>ISHFT</code> returns a value corresponding to <var>I</var> with all of the
bits shifted <var>SHIFT</var> places.  A value of <var>SHIFT</var> greater than
zero corresponds to a left shift, a value of zero corresponds to no
shift, and a value less than zero corresponds to a right shift.  If the
absolute value of <var>SHIFT</var> is greater than <code>BIT_SIZE(I)</code>, the
value is undefined.  Bits shifted out from the left end or right end are
lost; zeros are shifted in from the opposite end.

     <br>

<h3>Syntax</h3>
<code>RESULT = ISHFT(I, SHIFT)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>I</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>SHIFT</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of the same kind as
<var>I</var>.

     <br>

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="ISHFTC.html#ISHFTC">ISHFTC</a>
