<code>KIND</code> — Kind of an entity

<h3>Description</h3>
<code>KIND(X)</code> returns the kind value of the entity <var>X</var>.

     <br>

<h3>Syntax</h3>
<code>K = KIND(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">Shall be of type <code>LOGICAL</code>, <code>INTEGER</code>,
<code>REAL</code>, <code>COMPLEX</code> or <code>CHARACTER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is a scalar of type <code>INTEGER</code> and of the default
integer kind.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_kind
<br>  integer,parameter :: kc = kind(' ')
<br>  integer,parameter :: kl = kind(.true.)
<br>
<br>  print *, "The default character kind is ", kc
<br>  print *, "The default logical kind is ", kl
<br>end program test_kind</code>
     

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>