<code>LBOUND</code> — Lower dimension bounds of an array

<h3>Description</h3>
Returns the lower bounds of an array, or a single lower bound
along the <var>DIM</var> dimension. 
<br>

<h3>Syntax</h3>
<code>RESULT = LBOUND(ARRAY [, DIM [, KIND]])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>ARRAY</var> </td><td valign="top" width="70%">Shall be an array, of any type. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>DIM</var> </td><td valign="top" width="70%">(Optional) Shall be a scalar <code>INTEGER</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>KIND</var> </td><td valign="top" width="70%">(Optional) An <code>INTEGER</code> initialization
expression indicating the kind parameter of the result.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of kind <var>KIND</var>. If
<var>KIND</var> is absent, the return value is of default integer kind. 
If <var>DIM</var> is absent, the result is an array of the lower bounds of
<var>ARRAY</var>.  If <var>DIM</var> is present, the result is a scalar
corresponding to the lower bound of the array along that dimension.  If
<var>ARRAY</var> is an expression rather than a whole array or array
structure component, or if it has a zero extent along the relevant
dimension, the lower bound is taken to be 1.

     <br>

<h3>Standard</h3>
Fortran 95 and later, with <var>KIND</var> argument Fortran 2003 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>

<h3>See also</h3>
<a href="UBOUND.html#UBOUND">UBOUND</a>, <a href="LCOBOUND.html#LCOBOUND">LCOBOUND</a>
