<code>LEN</code> — Length of a character entity

<h3>Description</h3>
Returns the length of a character string.  If <var>STRING</var> is an array,
the length of an element of <var>STRING</var> is returned.  Note that
<var>STRING</var> need not be defined when this intrinsic is invoked, since
only the length, not the content, of <var>STRING</var> is needed.

     <br>

<h3>Syntax</h3>
<code>L = LEN(STRING [, KIND])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>STRING</var> </td><td valign="top" width="70%">Shall be a scalar or array of type
<code>CHARACTER</code>, with <code>INTENT(IN)</code>
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>KIND</var> </td><td valign="top" width="70%">(Optional) An <code>INTEGER</code> initialization
expression indicating the kind parameter of the result.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of kind <var>KIND</var>. If
<var>KIND</var> is absent, the return value is of default integer kind.

     <br>

<h3>Specific names</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="20%">Name               </td><td valign="top" width="20%">Argument          </td><td valign="top" width="20%">Return type       </td><td valign="top" width="25%">Standard
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>LEN(STRING)</code> </td><td valign="top" width="20%"><code>CHARACTER</code>  </td><td valign="top" width="20%"><code>INTEGER</code>    </td><td valign="top" width="25%">Fortran 77 and later
     <br></td></tr></tbody></table>

     <br></p>

<h3>Standard</h3>
Fortran 77 and later, with <var>KIND</var> argument Fortran 2003 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>

<h3>See also</h3>
<a href="LEN_005fTRIM.html#LEN_005fTRIM">LEN_TRIM</a>, <a href="ADJUSTL.html#ADJUSTL">ADJUSTL</a>, <a href="ADJUSTR.html#ADJUSTR">ADJUSTR</a>
