<code>LEN_TRIM</code> — Length of a character entity without trailing blank characters

<h3>Description</h3>
Returns the length of a character string, ignoring any trailing blanks.

     <br>

<h3>Syntax</h3>
<code>RESULT = LEN_TRIM(STRING [, KIND])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>STRING</var> </td><td valign="top" width="70%">Shall be a scalar of type <code>CHARACTER</code>,
with <code>INTENT(IN)</code>
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>KIND</var> </td><td valign="top" width="70%">(Optional) An <code>INTEGER</code> initialization
expression indicating the kind parameter of the result.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of kind <var>KIND</var>. If
<var>KIND</var> is absent, the return value is of default integer kind.

     <br>

<h3>Standard</h3>
Fortran 95 and later, with <var>KIND</var> argument Fortran 2003 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="LEN.html#LEN">LEN</a>, <a href="ADJUSTL.html#ADJUSTL">ADJUSTL</a>, <a href="ADJUSTR.html#ADJUSTR">ADJUSTR</a>
