<code>LNBLNK</code> — Index of the last non-blank character in a string

<h3>Description</h3>
Returns the length of a character string, ignoring any trailing blanks. 
This is identical to the standard <code>LEN_TRIM</code> intrinsic, and is only
included for backwards compatibility.

     <br>

<h3>Syntax</h3>
<code>RESULT = LNBLNK(STRING)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>STRING</var> </td><td valign="top" width="70%">Shall be a scalar of type <code>CHARACTER</code>,
with <code>INTENT(IN)</code>
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of <code>INTEGER(kind=4)</code> type.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="INDEX-intrinsic.html#INDEX-intrinsic">INDEX intrinsic</a>, <a href="LEN_005fTRIM.html#LEN_005fTRIM">LEN_TRIM</a>
