<code>LOG</code> — Natural logarithm function

<h3>Description</h3>
<code>LOG(X)</code> computes the natural logarithm of <var>X</var>, i.e. the
logarithm to the base e.

     <br>

<h3>Syntax</h3>
<code>RESULT = LOG(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">The type shall be <code>REAL</code> or
<code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>REAL</code> or <code>COMPLEX</code>. 
The kind type parameter is the same as <var>X</var>. 
If <var>X</var> is <code>COMPLEX</code>, the imaginary part \omega is in the range
-\pi &lt; \omega \leq \pi.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_log
<br>  real(8) :: x = 2.7182818284590451_8
<br>  complex :: z = (1.0, 2.0)
<br>  x = log(x)    ! will yield (approximately) 1
<br>  z = log(z)
<br>end program test_log</code>
     <br>

<h3>Specific names</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="20%">Name            </td><td valign="top" width="20%">Argument          </td><td valign="top" width="20%">Return type       </td><td valign="top" width="25%">Standard
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>ALOG(X)</code>  </td><td valign="top" width="20%"><code>REAL(4) X</code>  </td><td valign="top" width="20%"><code>REAL(4)</code>    </td><td valign="top" width="25%">f95, gnu
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>DLOG(X)</code>  </td><td valign="top" width="20%"><code>REAL(8) X</code>  </td><td valign="top" width="20%"><code>REAL(8)</code>    </td><td valign="top" width="25%">f95, gnu
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>CLOG(X)</code>  </td><td valign="top" width="20%"><code>COMPLEX(4) X</code>  </td><td valign="top" width="20%"><code>COMPLEX(4)</code>    </td><td valign="top" width="25%">f95, gnu
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>ZLOG(X)</code>  </td><td valign="top" width="20%"><code>COMPLEX(8) X</code>  </td><td valign="top" width="20%"><code>COMPLEX(8)</code>    </td><td valign="top" width="25%">f95, gnu
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>CDLOG(X)</code> </td><td valign="top" width="20%"><code>COMPLEX(8) X</code>  </td><td valign="top" width="20%"><code>COMPLEX(8)</code>    </td><td valign="top" width="25%">f95, gnu
     <br></td></tr></tbody></table>
</p>

<h3>Standard</h3>
Fortran 77 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>