<code>LONG</code> — Convert to integer type

<h3>Description</h3>
Convert to a <code>KIND=4</code> integer type, which is the same size as a C
<code>long</code> integer.  This is equivalent to the standard <code>INT</code>
intrinsic with an optional argument of <code>KIND=4</code>, and is only
included for backwards compatibility.

     <br>

<h3>Syntax</h3>
<code>RESULT = LONG(A)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>A</var>    </td><td valign="top" width="70%">Shall be of type <code>INTEGER</code>,
<code>REAL</code>, or <code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is a <code>INTEGER(4)</code> variable.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="INT.html#INT">INT</a>, <a href="INT2.html#INT2">INT2</a>, <a href="INT8.html#INT8">INT8</a>
