<code>LSTAT</code> — Get file status

<h3>Description</h3>
<code>LSTAT</code> is identical to <a href="STAT.html#STAT">STAT</a>, except that if path is a
symbolic link, then the link itself is statted, not the file that it
refers to.

     <p>The elements in <code>VALUES</code> are the same as described by <a href="STAT.html#STAT">STAT</a>.

     </p><p>This intrinsic is provided in both subroutine and function forms;
however, only one form can be used in any given program unit.

     <br></p>

<h3>Syntax</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="80%"><code>CALL LSTAT(NAME, VALUES [, STATUS])</code>
<br></td></tr><tr align="left"><td valign="top" width="80%"><code>STATUS = LSTAT(NAME, VALUES)</code>
     <br></td></tr></tbody></table>

     <br></p>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>NAME</var>   </td><td valign="top" width="70%">The type shall be <code>CHARACTER</code> of the default
kind, a valid path within the file system. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>VALUES</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER(4), DIMENSION(13)</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>STATUS</var> </td><td valign="top" width="70%">(Optional) status flag of type <code>INTEGER(4)</code>. 
Returns 0 on success and a system specific error code otherwise.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Example</h3>
See <a href="STAT.html#STAT">STAT</a> for an example.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Subroutine, function

     <br>

<h3>See also</h3>
To stat an open file: <a href="FSTAT.html#FSTAT">FSTAT</a>, to stat a file: <a href="STAT.html#STAT">STAT</a>
