<code>MAXEXPONENT</code> — Maximum exponent of a real kind

<h3>Description</h3>
<code>MAXEXPONENT(X)</code> returns the maximum exponent in the model of the
type of <code>X</code>.

     <br>

<h3>Syntax</h3>
<code>RESULT = MAXEXPONENT(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">Shall be of type <code>REAL</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of the default integer
kind.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program exponents
<br>  real(kind=4) :: x
<br>  real(kind=8) :: y
<br>
<br>  print *, minexponent(x), maxexponent(x)
<br>  print *, minexponent(y), maxexponent(y)
<br>end program exponents</code>
     

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>