<code>MCLOCK</code> — Time function

<h3>Description</h3>
Returns the number of clock ticks since the start of the process, based
on the function <code>clock(3)</code> in the C standard library.

     <p>This intrinsic is not fully portable, such as to systems with 32-bit
<code>INTEGER</code> types but supporting times wider than 32 bits. Therefore,
the values returned by this intrinsic might be, or become, negative, or
numerically less than previous values, during a single run of the
compiled program.

     <br></p>

<h3>Syntax</h3>
<code>RESULT = MCLOCK()</code>

     <br>

<h3>Return value</h3>
The return value is a scalar of type <code>INTEGER(4)</code>, equal to the
number of clock ticks since the start of the process, or <code>-1</code> if
the system does not support <code>clock(3)</code>.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Function

     <br>

<h3>See also</h3>
<a href="CTIME.html#CTIME">CTIME</a>, <a href="GMTIME.html#GMTIME">GMTIME</a>, <a href="LTIME.html#LTIME">LTIME</a>, <a href="MCLOCK.html#MCLOCK">MCLOCK</a>, <a href="TIME.html#TIME">TIME</a>

   