<code>NEW_LINE</code> — New line character

<h3>Description</h3>
<code>NEW_LINE(C)</code> returns the new-line character.

     <br>

<h3>Syntax</h3>
<code>RESULT = NEW_LINE(C)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>C</var>    </td><td valign="top" width="70%">The argument shall be a scalar or array of the
type <code>CHARACTER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
Returns a <var>CHARACTER</var> scalar of length one with the new-line character of
the same kind as parameter <var>C</var>.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program newline
<br>  implicit none
<br>  write(*,'(A)') 'This is record 1.'//NEW_LINE('A')//'This is record 2.'
<br>end program newline</code>
     

<h3>Standard</h3>
Fortran 2003 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>