<code>NORM2</code> — Euclidean vector norms

<h3>Description</h3>
Calculates the Euclidean vector norm (L_2 norm) of
of <var>ARRAY</var> along dimension <var>DIM</var>.

     <br>

<h3>Syntax</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="80%"><code>RESULT = NORM2(ARRAY[, DIM])</code>
     <br></td></tr></tbody></table>

     <br></p>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>ARRAY</var> </td><td valign="top" width="70%">Shall be an array of type <code>REAL</code>
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>DIM</var>   </td><td valign="top" width="70%">(Optional) shall be a scalar of type
<code>INTEGER</code> with a value in the range from 1 to n, where n
equals the rank of <var>ARRAY</var>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The result is of the same type as <var>ARRAY</var>.

     <p>If <var>DIM</var> is absent, a scalar with the square root of the sum of all
elements in <var>ARRAY</var> squared  is returned. Otherwise, an array of
rank n-1, where n equals the rank of <var>ARRAY</var>, and a
shape similar to that of <var>ARRAY</var> with dimension <var>DIM</var> dropped
is returned.

     <br></p>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>PROGRAM test_sum
<br>  REAL :: x(5) = [ real :: 1, 2, 3, 4, 5 ]
<br>  print *, NORM2(x)  ! = sqrt(55.) ~ 7.416
<br>END PROGRAM</code>
     

<h3>Standard</h3>
Fortran 2008 and later

     <br>

<h3>Class</h3>
Transformational function

     <br>