<code>NOT</code> — Logical negation

<h3>Description</h3>
<code>NOT</code> returns the bitwise Boolean inverse of <var>I</var>.

     <br>

<h3>Syntax</h3>
<code>RESULT = NOT(I)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>I</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return type is <code>INTEGER</code>, of the same kind as the
argument.

     <br>

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="IAND.html#IAND">IAND</a>, <a href="IEOR.html#IEOR">IEOR</a>, <a href="IOR.html#IOR">IOR</a>, <a href="IBITS.html#IBITS">IBITS</a>, <a href="IBSET.html#IBSET">IBSET</a>, <a href="IBCLR.html#IBCLR">IBCLR</a>

   