<code>PERROR</code> — Print system error message

<h3>Description</h3>
Prints (on the C <code>stderr</code> stream) a newline-terminated error
message corresponding to the last system error. This is prefixed by
<var>STRING</var>, a colon and a space. See <code>perror(3)</code>.

     <br>

<h3>Syntax</h3>
<code>CALL PERROR(STRING)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>STRING</var> </td><td valign="top" width="70%">A scalar of type <code>CHARACTER</code> and of the
default kind.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Subroutine

     <br>

<h3>See also</h3>
<a href="IERRNO.html#IERRNO">IERRNO</a>
