<code>POPCNT</code> — Number of bits set

<h3>Description</h3>
<code>POPCNT(I)</code> returns the number of bits set ('1' bits) in the binary
representation of <code>I</code>.

     <br>

<h3>Syntax</h3>
<code>RESULT = POPCNT(I)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>I</var> </td><td valign="top" width="70%">Shall be of type <code>INTEGER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of the default integer
kind.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_population
<br>  print *, popcnt(127),       poppar(127)
<br>  print *, popcnt(huge(0_4)), poppar(huge(0_4))
<br>  print *, popcnt(huge(0_8)), poppar(huge(0_8))
<br>end program test_population</code>
     

<h3>Standard</h3>
Fortran 2008 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="POPPAR.html#POPPAR">POPPAR</a>, <a href="LEADZ.html#LEADZ">LEADZ</a>, <a href="TRAILZ.html#TRAILZ">TRAILZ</a>

     <br>