<code>RADIX</code> — Base of a model number

<h3>Description</h3>
<code>RADIX(X)</code> returns the base of the model representing the entity <var>X</var>.

     <br>

<h3>Syntax</h3>
<code>RESULT = RADIX(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">Shall be of type <code>INTEGER</code> or <code>REAL</code>
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is a scalar of type <code>INTEGER</code> and of the default
integer kind.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_radix
<br>  print *, "The radix for the default integer kind is", radix(0)
<br>  print *, "The radix for the default real kind is", radix(0.0)
<br>end program test_radix</code>
     

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>

<h3>See also</h3>
<a href="SELECTED_005fREAL_005fKIND.html#SELECTED_005fREAL_005fKIND">SELECTED_REAL_KIND</a>

     <br>