<code>RAN</code> — Real pseudo-random number

<h3>Description</h3>
For compatibility with HP FORTRAN 77/iX, the <code>RAN</code> intrinsic is
provided as an alias for <code>RAND</code>.  See <a href="RAND.html#RAND">RAND</a> for complete
documentation.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Function

     <br>

<h3>See also</h3>
<a href="RAND.html#RAND">RAND</a>, <a href="RANDOM_005fNUMBER.html#RANDOM_005fNUMBER">RANDOM_NUMBER</a>
