<code>RANDOM_NUMBER</code> — Pseudo-random number

<h3>Description</h3>
Returns a single pseudorandom number or an array of pseudorandom numbers
from the uniform distribution over the range  0 \leq x &lt; 1.

     <p>The runtime-library implements George Marsaglia's KISS (Keep It Simple
Stupid) random number generator (RNG). This RNG combines:
          </p><ol start="1" type="1">
<li>The congruential generator x(n) = 69069 \cdot x(n-1) + 1327217885
with a period of 2^32,
</li><li>A 3-shift shift-register generator with a period of 2^32 - 1,
</li><li>Two 16-bit multiply-with-carry generators with a period of
597273182964842497 &gt; 2^59.
          </li></ol>
The overall period exceeds 2^123.

     <p>Please note, this RNG is thread safe if used within OpenMP directives,
i.e., its state will be consistent while called from multiple threads. 
However, the KISS generator does not create random numbers in parallel
from multiple sources, but in sequence from a single source. If an
OpenMP-enabled application heavily relies on random numbers, one should
consider employing a dedicated parallel random number generator instead.

     <br></p>

<h3>Syntax</h3>
<code>RANDOM_NUMBER(HARVEST)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>HARVEST</var> </td><td valign="top" width="70%">Shall be a scalar or an array of type <code>REAL</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_random_number
<br>  REAL :: r(5,5)
<br>  CALL init_random_seed()         ! see example of RANDOM_SEED
<br>  CALL RANDOM_NUMBER(r)
<br>end program</code>
     <br>

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Subroutine

     <br>

<h3>See also</h3>
<a href="RANDOM_005fSEED.html#RANDOM_005fSEED">RANDOM_SEED</a>
