<code>RANGE</code> — Decimal exponent range

<h3>Description</h3>
<code>RANGE(X)</code> returns the decimal exponent range in the model of the
type of <code>X</code>.

     <br>

<h3>Syntax</h3>
<code>RESULT = RANGE(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">Shall be of type <code>INTEGER</code>, <code>REAL</code>
or <code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of the default integer
kind.

     <br>

<h3>Example</h3>
See <code>PRECISION</code> for an example. 


<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>

<h3>See also</h3>
<a href="SELECTED_005fREAL_005fKIND.html#SELECTED_005fREAL_005fKIND">SELECTED_REAL_KIND</a>, <a href="PRECISION.html#PRECISION">PRECISION</a>

     <br>