<code>RRSPACING</code> — Reciprocal of the relative spacing

<h3>Description</h3>
<code>RRSPACING(X)</code> returns the  reciprocal of the relative spacing of
model numbers near <var>X</var>.

     <br>

<h3>Syntax</h3>
<code>RESULT = RRSPACING(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">Shall be of type <code>REAL</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of the same type and kind as <var>X</var>. 
The value returned is equal to
<code>ABS(FRACTION(X)) * FLOAT(RADIX(X))**DIGITS(X)</code>.

     <br>

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="SPACING.html#SPACING">SPACING</a>
