<code>SAME_TYPE_AS</code> —  Query dynamic types for equality

<h3>Description</h3>
Query dynamic types for equality.

     <br>

<h3>Syntax</h3>
<code>RESULT = SAME_TYPE_AS(A, B)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>A</var> </td><td valign="top" width="70%">Shall be an object of extensible declared type or
unlimited polymorphic. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>B</var> </td><td valign="top" width="70%">Shall be an object of extensible declared type or
unlimited polymorphic.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is a scalar of type default logical. It is true if and
only if the dynamic type of A is the same as the dynamic type of B.

     <br>

<h3>Standard</h3>
Fortran 2003 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>

<h3>See also</h3>
<a href="EXTENDS_005fTYPE_005fOF.html#EXTENDS_005fTYPE_005fOF">EXTENDS_TYPE_OF</a>

   