<code>SCAN</code> — Scan a string for the presence of a set of characters

<h3>Description</h3>
Scans a <var>STRING</var> for any of the characters in a <var>SET</var>
of characters.

     <p>If <var>BACK</var> is either absent or equals <code>FALSE</code>, this function
returns the position of the leftmost character of <var>STRING</var> that is
in <var>SET</var>. If <var>BACK</var> equals <code>TRUE</code>, the rightmost position
is returned. If no character of <var>SET</var> is found in <var>STRING</var>, the
result is zero.

     <br></p>

<h3>Syntax</h3>
<code>RESULT = SCAN(STRING, SET[, BACK [, KIND]])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>STRING</var> </td><td valign="top" width="70%">Shall be of type <code>CHARACTER</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>SET</var>    </td><td valign="top" width="70%">Shall be of type <code>CHARACTER</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>BACK</var>   </td><td valign="top" width="70%">(Optional) shall be of type <code>LOGICAL</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>KIND</var>   </td><td valign="top" width="70%">(Optional) An <code>INTEGER</code> initialization
expression indicating the kind parameter of the result.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of kind <var>KIND</var>. If
<var>KIND</var> is absent, the return value is of default integer kind.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>PROGRAM test_scan
<br>  WRITE(*,*) SCAN("FORTRAN", "AO")          ! 2, found 'O'
<br>  WRITE(*,*) SCAN("FORTRAN", "AO", .TRUE.)  ! 6, found 'A'
<br>  WRITE(*,*) SCAN("FORTRAN", "C++")         ! 0, found none
<br>END PROGRAM</code>
     <br>

<h3>Standard</h3>
Fortran 95 and later, with <var>KIND</var> argument Fortran 2003 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="INDEX-intrinsic.html#INDEX-intrinsic">INDEX intrinsic</a>, <a href="VERIFY.html#VERIFY">VERIFY</a>
