<code>SHAPE</code> — Determine the shape of an array

<h3>Description</h3>
Determines the shape of an array.

     <br>

<h3>Syntax</h3>
<code>RESULT = SHAPE(SOURCE [, KIND])</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>SOURCE</var> </td><td valign="top" width="70%">Shall be an array or scalar of any type. 
If <var>SOURCE</var> is a pointer it must be associated and allocatable
arrays must be allocated. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>KIND</var>   </td><td valign="top" width="70%">(Optional) An <code>INTEGER</code> initialization
expression indicating the kind parameter of the result.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
An <code>INTEGER</code> array of rank one with as many elements as <var>SOURCE</var>
has dimensions. The elements of the resulting array correspond to the extend
of <var>SOURCE</var> along the respective dimensions. If <var>SOURCE</var> is a scalar,
the result is the rank one array of size zero. If <var>KIND</var> is absent, the
return value has the default integer kind otherwise the specified kind.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>PROGRAM test_shape
<br>  INTEGER, DIMENSION(-1:1, -1:2) :: A
<br>  WRITE(*,*) SHAPE(A)             ! (/ 3, 4 /)
<br>  WRITE(*,*) SIZE(SHAPE(42))      ! (/ /)
<br>END PROGRAM</code>
     <br>

<h3>Standard</h3>
Fortran 95 and later, with <var>KIND</var> argument Fortran 2003 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>

<h3>See also</h3>
<a href="RESHAPE.html#RESHAPE">RESHAPE</a>, <a href="SIZE.html#SIZE">SIZE</a>
