<code>SHIFTA</code> — Right shift with fill

<h3>Description</h3>
<code>SHIFTA</code> returns a value corresponding to <var>I</var> with all of the
bits shifted right by <var>SHIFT</var> places.  If the absolute value of
<var>SHIFT</var> is greater than <code>BIT_SIZE(I)</code>, the value is undefined. 
Bits shifted out from the right end are lost. The fill is arithmetic: the
bits shifted in from the left end are equal to the leftmost bit, which in
two's complement representation is the sign bit.

     <br>

<h3>Syntax</h3>
<code>RESULT = SHIFTA(I, SHIFT)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>I</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>SHIFT</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type <code>INTEGER</code> and of the same kind as
<var>I</var>.

     <br>

<h3>Standard</h3>
Fortran 2008 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="SHIFTL.html#SHIFTL">SHIFTL</a>, <a href="SHIFTR.html#SHIFTR">SHIFTR</a>
