<code>SIN</code> — Sine function

<h3>Description</h3>
<code>SIN(X)</code> computes the sine of <var>X</var>.

     <br>

<h3>Syntax</h3>
<code>RESULT = SIN(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">The type shall be <code>REAL</code> or
<code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value has same type and kind as <var>X</var>.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_sin
<br>  real :: x = 0.0
<br>  x = sin(x)
<br>end program test_sin</code>
     <br>

<h3>Specific names</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="20%">Name            </td><td valign="top" width="20%">Argument             </td><td valign="top" width="20%">Return type       </td><td valign="top" width="25%">Standard
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>SIN(X)</code>   </td><td valign="top" width="20%"><code>REAL(4) X</code>     </td><td valign="top" width="20%"><code>REAL(4)</code>    </td><td valign="top" width="25%">f77, gnu
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>DSIN(X)</code>  </td><td valign="top" width="20%"><code>REAL(8) X</code>     </td><td valign="top" width="20%"><code>REAL(8)</code>    </td><td valign="top" width="25%">f95, gnu
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>CSIN(X)</code>  </td><td valign="top" width="20%"><code>COMPLEX(4) X</code>  </td><td valign="top" width="20%"><code>COMPLEX(4)</code> </td><td valign="top" width="25%">f95, gnu
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>ZSIN(X)</code>  </td><td valign="top" width="20%"><code>COMPLEX(8) X</code>  </td><td valign="top" width="20%"><code>COMPLEX(8)</code> </td><td valign="top" width="25%">f95, gnu
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>CDSIN(X)</code> </td><td valign="top" width="20%"><code>COMPLEX(8) X</code>  </td><td valign="top" width="20%"><code>COMPLEX(8)</code> </td><td valign="top" width="25%">f95, gnu
     <br></td></tr></tbody></table>

     <br></p>

<h3>Standard</h3>
Fortran 77 and later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="ASIN.html#ASIN">ASIN</a>
