<code>SIZEOF</code> — Size in bytes of an expression

<h3>Description</h3>
<code>SIZEOF(X)</code> calculates the number of bytes of storage the
expression <code>X</code> occupies.

     <br>

<h3>Syntax</h3>
<code>N = SIZEOF(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">The argument shall be of any type, rank or shape.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of type integer and of the system-dependent kind
<var>C_SIZE_T</var> (from the <var>ISO_C_BINDING</var> module). Its value is the
number of bytes occupied by the argument.  If the argument has the
<code>POINTER</code> attribute, the number of bytes of the storage area pointed
to is returned.  If the argument is of a derived type with <code>POINTER</code>
or <code>ALLOCATABLE</code> components, the return value does not account for
the sizes of the data pointed to by these components. If the argument is
polymorphic, the size according to the dynamic type is returned. The argument
may not be a procedure or procedure pointer. Note that the code assumes for
arrays that those are contiguous; for contiguous arrays, it returns the
storage or an array element multiplied by the size of the array.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>integer :: i
<br>real :: r, s(5)
<br>print *, (sizeof(s)/sizeof(r) == 5)
<br>end</code>
     <p>The example will print <code>.TRUE.</code> unless you are using a platform
where default <code>REAL</code> variables are unusually padded.

     <br></p>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Inquiry function

     <br>

<h3>See also</h3>
<a href="C_005fSIZEOF.html#C_005fSIZEOF">C_SIZEOF</a>, <a href="STORAGE_005fSIZE.html#STORAGE_005fSIZE">STORAGE_SIZE</a>
