<code>SPREAD</code> — Add a dimension to an array

<h3>Description</h3>
Replicates a <var>SOURCE</var> array <var>NCOPIES</var> times along a specified
dimension <var>DIM</var>.

     <br>

<h3>Syntax</h3>
<code>RESULT = SPREAD(SOURCE, DIM, NCOPIES)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>SOURCE</var>  </td><td valign="top" width="70%">Shall be a scalar or an array of any type and
a rank less than seven. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>DIM</var>     </td><td valign="top" width="70%">Shall be a scalar of type <code>INTEGER</code> with a
value in the range from 1 to n+1, where n equals the rank of <var>SOURCE</var>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>NCOPIES</var> </td><td valign="top" width="70%">Shall be a scalar of type <code>INTEGER</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The result is an array of the same type as <var>SOURCE</var> and has rank n+1
where n equals the rank of <var>SOURCE</var>.

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>PROGRAM test_spread
<br>  INTEGER :: a = 1, b(2) = (/ 1, 2 /)
<br>  WRITE(*,*) SPREAD(A, 1, 2)            ! "1 1"
<br>  WRITE(*,*) SPREAD(B, 1, 2)            ! "1 1 2 2"
<br>END PROGRAM</code>
     <br>

<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Transformational function

     <br>

<h3>See also</h3>
<a href="UNPACK.html#UNPACK">UNPACK</a>
