<code>STAT</code> — Get file status

<h3>Description</h3>
This function returns information about a file. No permissions are required on
the file itself, but execute (search) permission is required on all of the
directories in path that lead to the file.

     <p>The elements that are obtained and stored in the array <code>VALUES</code>:
     </p><p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><code>VALUES(1)</code>   </td><td valign="top" width="70%">Device ID
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(2)</code>   </td><td valign="top" width="70%">Inode number
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(3)</code>   </td><td valign="top" width="70%">File mode
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(4)</code>   </td><td valign="top" width="70%">Number of links
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(5)</code>   </td><td valign="top" width="70%">Owner's uid
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(6)</code>   </td><td valign="top" width="70%">Owner's gid
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(7)</code>   </td><td valign="top" width="70%">ID of device containing directory entry for file (0 if not available)
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(8)</code>   </td><td valign="top" width="70%">File size (bytes)
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(9)</code>   </td><td valign="top" width="70%">Last access time
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(10)</code>  </td><td valign="top" width="70%">Last modification time
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(11)</code>  </td><td valign="top" width="70%">Last file status change time
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(12)</code>  </td><td valign="top" width="70%">Preferred I/O block size (-1 if not available)
<br></td></tr><tr align="left"><td valign="top" width="15%"><code>VALUES(13)</code>  </td><td valign="top" width="70%">Number of blocks allocated (-1 if not available)
     <br></td></tr></tbody></table>

     </p><p>Not all these elements are relevant on all systems. 
If an element is not relevant, it is returned as 0.

     </p><p>This intrinsic is provided in both subroutine and function forms; however,
only one form can be used in any given program unit.

     <br></p>

<h3>Syntax</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="80%"><code>CALL STAT(NAME, VALUES [, STATUS])</code>
<br></td></tr><tr align="left"><td valign="top" width="80%"><code>STATUS = STAT(NAME, VALUES)</code>
     <br></td></tr></tbody></table>

     <br></p>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>NAME</var>   </td><td valign="top" width="70%">The type shall be <code>CHARACTER</code>, of the
default kind and a valid path within the file system. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>VALUES</var> </td><td valign="top" width="70%">The type shall be <code>INTEGER(4), DIMENSION(13)</code>. 
<br></td></tr><tr align="left"><td valign="top" width="15%"><var>STATUS</var> </td><td valign="top" width="70%">(Optional) status flag of type <code>INTEGER(4)</code>. Returns 0
on success and a system specific error code otherwise.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>PROGRAM test_stat
<br>  INTEGER, DIMENSION(13) :: buff
<br>  INTEGER :: status
<br>
<br>  CALL STAT("/etc/passwd", buff, status)
<br>
<br>  IF (status == 0) THEN
<br>    WRITE (*, FMT="('Device ID:',               T30, I19)") buff(1)
<br>    WRITE (*, FMT="('Inode number:',            T30, I19)") buff(2)
<br>    WRITE (*, FMT="('File mode (octal):',       T30, O19)") buff(3)
<br>    WRITE (*, FMT="('Number of links:',         T30, I19)") buff(4)
<br>    WRITE (*, FMT="('Owner''s uid:',            T30, I19)") buff(5)
<br>    WRITE (*, FMT="('Owner''s gid:',            T30, I19)") buff(6)
<br>    WRITE (*, FMT="('Device where located:',    T30, I19)") buff(7)
<br>    WRITE (*, FMT="('File size:',               T30, I19)") buff(8)
<br>    WRITE (*, FMT="('Last access time:',        T30, A19)") CTIME(buff(9))
<br>    WRITE (*, FMT="('Last modification time',   T30, A19)") CTIME(buff(10))
<br>    WRITE (*, FMT="('Last status change time:', T30, A19)") CTIME(buff(11))
<br>    WRITE (*, FMT="('Preferred block size:',    T30, I19)") buff(12)
<br>    WRITE (*, FMT="('No. of blocks allocated:', T30, I19)") buff(13)
<br>  END IF
<br>END PROGRAM</code>
     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Subroutine, function

     <br>

<h3>See also</h3>
To stat an open file: <a href="FSTAT.html#FSTAT">FSTAT</a>, to stat a link: <a href="LSTAT.html#LSTAT">LSTAT</a>
