<code>TANH</code> — Hyperbolic tangent function

<h3>Description</h3>
<code>TANH(X)</code> computes the hyperbolic tangent of <var>X</var>.

     <br>

<h3>Syntax</h3>
<code>X = TANH(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">The type shall be <code>REAL</code> or <code>COMPLEX</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value has same type and kind as <var>X</var>. If <var>X</var> is
complex, the imaginary part of the result is in radians. If <var>X</var>
is <code>REAL</code>, the return value lies in the range
 - 1 \leq tanh(x) \leq 1 .

     <br>

<h3>Example</h3>

     <code class="smallexample" syntax="Packages/Fortran/grammars/FortranModern.sublime-syntax">
<br>program test_tanh
<br>  real(8) :: x = 2.1_8
<br>  x = tanh(x)
<br>end program test_tanh</code>
     <br>

<h3>Specific names</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="20%">Name            </td><td valign="top" width="20%">Argument          </td><td valign="top" width="20%">Return type       </td><td valign="top" width="25%">Standard
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>TANH(X)</code>  </td><td valign="top" width="20%"><code>REAL(4) X</code>  </td><td valign="top" width="20%"><code>REAL(4)</code>    </td><td valign="top" width="25%">Fortran 95 and later
<br></td></tr><tr align="left"><td valign="top" width="20%"><code>DTANH(X)</code> </td><td valign="top" width="20%"><code>REAL(8) X</code>  </td><td valign="top" width="20%"><code>REAL(8)</code>    </td><td valign="top" width="25%">Fortran 95 and later
     <br></td></tr></tbody></table>

     <br></p>

<h3>Standard</h3>
Fortran 77 and later, for a complex argument Fortran 2008 or later

     <br>

<h3>Class</h3>
Elemental function

     <br>

<h3>See also</h3>
<a href="ATANH.html#ATANH">ATANH</a>
