<code>TIME8</code> — Time function (64-bit)

<h3>Description</h3>
Returns the current time encoded as an integer (in the manner of the
function <code>time(3)</code> in the C standard library). This value is
suitable for passing to <code>CTIME</code>, <code>GMTIME</code>, and <code>LTIME</code>.

     <p><em>Warning:</em> this intrinsic does not increase the range of the timing
values over that returned by <code>time(3)</code>. On a system with a 32-bit
<code>time(3)</code>, <code>TIME8</code> will return a 32-bit value, even though
it is converted to a 64-bit <code>INTEGER(8)</code> value. That means
overflows of the 32-bit value can still occur. Therefore, the values
returned by this intrinsic might be or become negative or numerically
less than previous values during a single run of the compiled program.

     <br></p>

<h3>Syntax</h3>
<code>RESULT = TIME8()</code>

     <br>

<h3>Return value</h3>
The return value is a scalar of type <code>INTEGER(8)</code>.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Function

     <br>

<h3>See also</h3>
<a href="CTIME.html#CTIME">CTIME</a>, <a href="GMTIME.html#GMTIME">GMTIME</a>, <a href="LTIME.html#LTIME">LTIME</a>, <a href="MCLOCK8.html#MCLOCK8">MCLOCK8</a>, <a href="TIME.html#TIME">TIME</a>

   