<code>TIME</code> — Time function

<h3>Description</h3>
Returns the current time encoded as an integer (in the manner of the
function <code>time(3)</code> in the C standard library). This value is
suitable for passing to <code>CTIME</code>, <code>GMTIME</code>, and <code>LTIME</code>.

     <p>This intrinsic is not fully portable, such as to systems with 32-bit
<code>INTEGER</code> types but supporting times wider than 32 bits. Therefore,
the values returned by this intrinsic might be, or become, negative, or
numerically less than previous values, during a single run of the
compiled program.

     </p><p>See <a href="TIME8.html#TIME8">TIME8</a>, for information on a similar intrinsic that might be
portable to more GNU Fortran implementations, though to fewer Fortran
compilers.

     <br></p>

<h3>Syntax</h3>
<code>RESULT = TIME()</code>

     <br>

<h3>Return value</h3>
The return value is a scalar of type <code>INTEGER(4)</code>.

     <br>

<h3>Standard</h3>
GNU extension

     <br>

<h3>Class</h3>
Function

     <br>

<h3>See also</h3>
<a href="CTIME.html#CTIME">CTIME</a>, <a href="GMTIME.html#GMTIME">GMTIME</a>, <a href="LTIME.html#LTIME">LTIME</a>, <a href="MCLOCK.html#MCLOCK">MCLOCK</a>, <a href="TIME8.html#TIME8">TIME8</a>

   