<code>TINY</code> — Smallest positive number of a real kind

<h3>Description</h3>
<code>TINY(X)</code> returns the smallest positive (non zero) number
in the model of the type of <code>X</code>.

     <br>

<h3>Syntax</h3>
<code>RESULT = TINY(X)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>X</var> </td><td valign="top" width="70%">Shall be of type <code>REAL</code>.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The return value is of the same type and kind as <var>X</var>

     <br>

<h3>Example</h3>
See <code>HUGE</code> for an example. 


<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Inquiry function

     <br>