<code>TRANSPOSE</code> — Transpose an array of rank two

<h3>Description</h3>
Transpose an array of rank two. Element (i, j) of the result has the value
<code>MATRIX(j, i)</code>, for all i, j.

     <br>

<h3>Syntax</h3>
<code>RESULT = TRANSPOSE(MATRIX)</code>

     <br>

<h3>Arguments</h3>

     <p><table summary=""><tbody><tr align="left"><td valign="top" width="15%"><var>MATRIX</var> </td><td valign="top" width="70%">Shall be an array of any type and have a rank of two.
     <br></td></tr></tbody></table>

     <br></p>

<h3>Return value</h3>
The result has the same type as <var>MATRIX</var>, and has shape
<code>(/ m, n /)</code> if <var>MATRIX</var> has shape <code>(/ n, m /)</code>. 


<h3>Standard</h3>
Fortran 95 and later

     <br>

<h3>Class</h3>
Transformational function

     <br>